# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Production
build/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
logs
*.log
logs/*.log

# Coverage directory used by testing tools
coverage/

# Temporary build files
.tmp/
.cache/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ESLint
.eslintcache

# MacOS
Thumbs.db